<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Black Lodge</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1 class="green-glow">THE BLACK LODGE</h1>
        </header>
        <img class="responsive" src="https://i.ibb.co/gr9tVqf/13652thA.jpg">
        <h2>BATTLE YOUR DOPPELGANGER</h2>
        <p>A <i>Twin Peaks</i> themed browser game</p>
        <form action="/take_names">
            <button type="submit" name="Play" class="green-button" action="/play">Play</button>
        </form>
    </div>
</body>
</html>