<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Black Lodge</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1 class="green-glow"><%= $game.winner.name %> has beaten <%= $game.opponent_of($game.winner).name %></h1>
        </header>
    </div>
</body>
</html>